/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family:Arial, Helvetica, sans-serif
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

/* .debug .border {
  border: 2px dashed black;
} */

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}


.wave {
  position: relative;
  background: lightgrey;
}

.wave:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #lightgrey;
  background-image: url(../img/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);

}

header {
  background-color: #255FE8;
}

button {
  border-radius: 20px;
  padding: 10px 15px;
  border-style: none;

}


.white {
  color: #ffffff;
}


/* # Navbar */

.navbar {
  height: 80px;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  /* background-color: goldenrod; */
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-actions {
  text-align: right;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
}

li {
  padding: 8px;
}

a { 
  text-decoration: none;
}

.small-button {
  height: 35px;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 400px;
  /* background-color: darkblue; */
  background-image: url(../img/jumbo.png);
  background-size: cover;

  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  /* background-color: violet; */

}

.jumbotron > * {
  text-align: center;
  
}

h1 {
  font-size: 38px;
  margin-top: 30px;
  margin-bottom: 40px;

}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

.open {
  background-color: #23272A;
  color: #ffffff;
  margin-left: 20px;

}

/* # Main & sections */
section {
  padding: 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  /* background-color: pink; */
}

.flex > .large-col {
  flex-basis: 60%;
  /* background-color: dodgerblue; */
}

.big-section {
  height: 900px;

}

.flex > .full-col {
  flex-basis: 100%;
  /* background-color: darkgreen; */
  text-align: center;
}

h3 {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
 
}

.blue-button {
  background-color: #8EA1E1;
  color: #ffffff;
}

/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 400px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #7389DA;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  /* background-color: pink; */
}
#ita-flag {
  width: 20px;
  margin-top: 30px;
}

.lang {
  color: #ffffff;
  font-size: 11px;
}

.fa-brands {
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;

}

.footer-top .footer-right {
  flex-basis: 70%;
  /* background-color: #20b2aa; */
}


.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.nav-col {
  display: flex;
  align-items: flex-start;
  

}

.footer-list {
  flex-direction: column;
  
}

.blue {
  color: #7389DA;
  font-weight: bold;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: aquamarine; */
}

.footer-bottom > * {
  padding: 5px 10px;
  /* background-color: yellow; */
}
